body{
  padding: 0;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

/* Components styling */

/* Card */
.banner-container{
  background-color: white;
  padding: 30px;
  border-radius: 25px;
  min-width: 400px;
}

.banner-container .header-banner-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-banner-wrapper .header-decsription {
  margin-left: 30px;
  line-height: 0.3;
}

.input-field-wrapper input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  outline-color: #f5f070;
  border-radius: 10px;
  border: 0.5px solid grey;
}

.input-field-wrapper button{
  background-color: #f5f070;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.input-field-wrapper button:hover{
  background-color: #efea6f;
  cursor: pointer;
}
